extends layout
include mixins/_hotel

block content
    div(id="contentsite")
        each hotel in hotelData 
            .hotel
                if url.startsWith('/admin')
                    a(href=`${hotel._id}/update`)
                        button(type="submit" class="btn btn-submit") Update
                    a(href=`${hotel._id}/delete`)
                        button(type="submit" class="btn btn-submit") Delete
                +hotel(hotel)